.loan-structure {
  background: #ffffff;
}

/* GRID */
.structure-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 20px;
}

/* CARD */
.structure-card {
  background: #fff;
  padding-bottom: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.structure-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);
}

.structure-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 18px;
}

.structure-card h3 {
  padding-left: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  color: #000;
}

.structure-card ul {
  margin: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 40px;
  align-self: stretch;
}

.structure-card li {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.60);
}

.structure-card p {
  margin: 0px;
  align-self: stretch;
  padding: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.60);
}

.structure-card p br {
  display: none;
}

/* ===== TABLET ===== */
@media (max-width: 992px) {
  .structure-card img {
    height: 200px;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 576px) {
  .loan-structure {
    padding: 60px 0;
  }

  .section-header h2 {
    font-size: 22px;
  }

  .structure-grid {
    grid-template-columns: 1fr;
  }

  .structure-card img {
    height: 190px;
  }
}
