.drive-support {
  background: #ffffff;
}

/* ===== TABLET ===== */
@media (max-width: 992px) {
  .section-header h2 {
    font-size: 24px;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 576px) {
  .drive-support {
    padding: 50px 0;
  }

  .section-header h2 {
    font-size: 20px;
  }

  .subtitle {
    font-size: 13px;
    line-height: 1.6;
  }
}


/* Application Form CSS */


.loan-wrapper {
  background: #f1f7ff;
  padding: 60px 20px;
}

.loan-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  padding-left: 60px;
  padding-right: 60px;
  grid-template-columns: 1fr;
  gap: 40px;
}

.loan-info h1 {
  font-size: 36px;
  margin-bottom: 12px;
}

.loan-info p {
  color: #555;
  max-width: 420px;
}

.loan-form-card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
}

.loan-form-card h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.form-group {
  margin-bottom: 14px;
}

label {
  font-size: 13px;
  display: block;
  margin-bottom: 6px;
}

input,
select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.radio-group {
  display: flex;
  gap: 16px;
}

.submit-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #0166cc;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

/* Error text under fields & top form error */
.error-text {
  color: #d32f2f;              /* standard error red */
  font-size: 12px;
  margin-top: 4px;
  line-height: 1.3;
}

/* Prevent layout jump when error appears */
.error-text:empty {
  display: none;
}


@media (max-width: 768px) {
  .loan-container {
    grid-template-columns: 1fr;
  }

  .form-row {
    grid-template-columns: 1fr;
  }
}


