.spotlight-section {
  background: #ffffff;
}

/* GRID */
.spotlight-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

/* CARD */
.spotlight-card {
  background: transparent;
  cursor: pointer;
}

.image-wrap {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 12px;
}

.image-wrap img {
  width: 100%;
  height: 182px;
  align-self: stretch;
  transition: transform 0.35s ease;
}

/* Hover effect */
.spotlight-card:hover img {
  transform: scale(1.05);
}

/* META */
.meta {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.tag {
  color: #010469;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: 1px;
  
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #CDEDFF;
}

.date {
  color: #5D5C5C;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: 1px;
}

/* TITLE */
.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;   /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;

  color: var(--Black, #000);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
}

.title:hover {
  color: #0166CC;
}

/* ===== TABLET ===== */
@media (max-width: 992px) {
  .spotlight-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-wrap img {
    height: 190px;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 576px) {
  .spotlight-grid {
    grid-template-columns: 1fr;
  }

  .section-header h2 {
    font-size: 22px;
  }

  .image-wrap img {
    height: 210px;
  }
}
