<app-hero-section
  title="Infrastructure | Industrial"
  subtitle="Capital-intensive inventory, long sales cycles, and large-ticket transactions define your business. You need financing that keeps equipment moving and opportunities within reach."
  buttonText=""
  buttonLink="/apply"
  image="assets/img/pages/Industries/meeting-of-young-asian-business.jpg">
</app-hero-section>
<app-agriculture-sec1
  title="Financing built for scale, speed, and complexity."
  subtitle="Industrial businesses often carry heavy inventory and long sales cycles that strain liquidity. We understand this pressure and structure financing that keeps capital available, supports scale, and allows you to act when opportunities arise."

  card1Image="assets/img/pages/Industries/Agriculture/Our-Customers.png"
  card1Title="Our Customers"
  card1Description="We work with heavy equipment resellers and industrial suppliers managing high-value inventory and long sales cycles. Our focus is helping businesses stay liquid and ready for large transactions."

  card2Image="assets/img/pages/Industries/Agriculture/Our-Solutions.png"
  card2Title="Our Solutions"
  card2Description="We structure customized financing solutions that support inventory turnover, fleet expansion, and large-ticket transactions, enabling clients to respond quickly to demand without tying up capital."
>
</app-agriculture-sec1>
<app-agriculture-sec2></app-agriculture-sec2>


<app-loan-simulator></app-loan-simulator>
<app-process-eligibility></app-process-eligibility>
<app-faq></app-faq>
<app-cta-banner></app-cta-banner>