<app-hero-section
  title="Infrastructure | Industrial"
  subtitle="Capital-intensive inventory, long sales cycles, and large-ticket transactions define your business. You need financing that keeps equipment moving and opportunities within reach."
  buttonText=""
  buttonLink="/apply"
  image="assets/img/pages/Industries/meeting-of-young-asian-business.jpg">
</app-hero-section>



<app-loan-simulator></app-loan-simulator>
<app-process-eligibility></app-process-eligibility>
<app-faq></app-faq>
<app-cta-banner></app-cta-banner>