<app-hero-section
  title="Renewable Energy"
  subtitle="Project-based timelines and technology investments require flexible capital. You need financing aligned with growth, sustainability, and execution."
  buttonText=""
  buttonLink="/apply"
  image="assets/img/pages/Industries/Energy/banner.jpg">
</app-hero-section>
<app-agriculture-sec1
  title="Customized financing that supports progress"
  subtitle="Renewable energy businesses manage project-based revenues, upfront capital needs, and long execution timelines. We understand the complexity of bringing these projects to life. Our approach to financing is designed to support delivery today while remaining flexible enough to adapt as projects evolve and new opportunities emerge."

  card1Image="assets/img/pages/Industries/Energy/energy-1.jpg"
  card1Title="Our Customers"
  card1Description="We work with renewable energy providers managing project-based timelines and technology investments. Our focus is helping businesses finance growth while supporting long-term sustainability goals."

  card2Image="assets/img/pages/Industries/Energy/energy-2.jpg"
  card2Title="Our Solutions"
  card2Description="We provide flexible financing solutions designed to support project execution, equipment investment, and expansion, helping renewable businesses scale efficiently and deliver measurable impact."
>
</app-agriculture-sec1>
<app-agriculture-sec2></app-agriculture-sec2>


<app-loan-simulator></app-loan-simulator>
<app-process-eligibility></app-process-eligibility>
<app-faq></app-faq>
<app-cta-banner></app-cta-banner>