<app-hero-section
  title="Working Capital Loan"
  subtitle="Fast, flexible funding to cover daily business needs payroll, rent, inventory, and more so your operations stay smooth."
  buttonText="Connect with our Loan Experts"
  buttonLink="/industries"
  image="assets/img/banner/working-capital-loan.png">
</app-hero-section>
<section class="loan-structure">
  <div class="container">

    <!-- HEADER -->
    <div class="section-header">
      <span class="section-line"></span>
      <h2>Short-Term Cash Support to Keep Your Day-to-Day<br>Operations Running Smoothly</h2>
      <p>
        Cover payroll, rent, inventory, and other daily business expenses to stabilize your cash flow, while<br>you manage day-to-day priorities without disruption.
      </p>
    </div>

    <!-- CARDS -->
    <div class="structure-grid">

      <!-- SECURED -->
      <div class="structure-card">
        <img
          src="assets/img/banner/Why SMEs Need This.png"
          alt="Why SMEs Need This"
          loading="lazy"/>

        <h3>Why SMEs Need This</h3>
        <p>Unexpected bills, seasonal slowdowns, and delayed payments can strain operations; this loan keeps you prepared for anything.</p>
      </div>

      <!-- UNSECURED -->
      <div class="structure-card">
        <img
          src="assets/img/banner/How It Helps with Cash Flow Gaps.png"
          alt="How It Helps with Cash Flow Gaps"
          loading="lazy"/>

        <h3>How It Helps with Cash Flow Gaps</h3>
        <p>Flexible funds cover urgent costs, from payroll to inventory, bridging gaps and smoothing out cash flow fluctuations.</p>
      </div>

      <div class="structure-card">
        <img
          src="assets/img/banner/Quick Access in 5–7 Days.png"
          alt="Quick Access in 5–7 Days"
          loading="lazy"/>

        <h3>Quick Access in 5–7 Days</h3>
        <p>Get approved in as little as a week and access funds fast, so your business never misses a beat.</p>
      </div>

    </div>

  </div>
</section>
<app-compare-options></app-compare-options>
<app-loan-simulator></app-loan-simulator>
<app-process-eligibility></app-process-eligibility>
<app-faq></app-faq>
<app-cta-banner></app-cta-banner>
<app-in-the-spotlight></app-in-the-spotlight>
