<app-hero-section
  title="Help Center"
  subtitle="”Reach out for personalized assistance anytime” on the second line"
  buttonText=""
  buttonLink="/apply"
  image="assets/img/pages/Help Center/Help_Center_Banner.jpeg">
</app-hero-section>
<app-office-locator></app-office-locator>
<section class="section">
  <div class="location-map">

    <!-- LOCATIONS -->
    <div class="locations">
      <div
        class="location-card"
        *ngFor="let loc of locations; let i = index"
        [class.active]="loc.open">
        <div class="location-header" (click)="toggleLocation(i)">
          <span class="title">{{ loc.name }}</span>
          <span class="arrow" [class.rotate]="loc.open"><i class="fa-solid fa-chevron-down"></i></span>
        </div>

        <div class="location-body" [class.show]="loc.open">

          <div class="info-row" style="padding-top: 10px;">
            <span class="label">Address:</span>
            <span class="value">{{ loc.address }}</span>
          </div>

          <div class="info-row" *ngIf="loc.phone">
            <span class="label">Phone No:</span>
            <span class="value">{{ loc.phone }}</span>
          </div>

          <div class="info-row" *ngIf="loc.mobile" style="padding-bottom: 10px;">
            <span class="label">Mobile No:</span>
            <span class="value">{{ loc.mobile }}</span>
          </div>

          <div class="info-row" *ngIf="loc.customerService">
            <span class="label">Customer Service:</span>
            <span class="value">{{ loc.customerService }}</span>
          </div>

          <div class="info-row" *ngIf="loc.generalInquiries">
            <span class="label">General Inquiries:</span>
            <span class="value"><a href="mailto:{{ loc.generalInquiries }}">{{ loc.generalInquiries }}</a></span>
          </div>

          <div class="info-row" *ngIf="loc.loanUpdatesEscalation" style="padding-bottom: 10px;">
            <span class="label">Loan Updates:</span>
            <span class="value"><a href="mailto:{{ loc.loanUpdatesEscalation }}">{{ loc.loanUpdatesEscalation }}</a></span>
          </div>

        </div>

      </div>
    </div>

    <!-- MAP -->
    <div class="map">
      <img src="assets/img/philippines-map.png" alt="Philippines Map" />
    </div>

  </div>
</section>
<app-faq></app-faq>
<app-our-team></app-our-team>
<app-need-more-help></app-need-more-help>
