.contact-wrapper {
  padding: 60px 0px;
  width: 100%;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

/* GRID */
.location-map {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* CARD */
.location-card {
  background: #ffffff;
  border-radius: 4px;
  margin-bottom: 12px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  transition: all 0.3s ease;
}

.location-card.active {
  border-color: #0166CC;
}

/* HEADER */
.location-header {
  padding: 16px 18px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  background: #f8f9fb;
}

.location-card.active .location-header {
  background: #0166CC;
  color: #fff;
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 16px;
}

.arrow.rotate {
  transform: rotate(180deg);
}

/* BODY (Accordion Animation) */
.location-body {
  max-height: 0;
  overflow: hidden;
  padding: 0px 12px;
  font-size: 16px;
  color: #555;
  transition: all 0.35s ease;
}

.info-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
}

.info-row .label {
  min-width: 150px;   /* adjust width if needed */
  font-weight: 600;
  color: #333;
}

.info-row .value {
  flex: 1;
  color: #555;
  word-break: break-word;
}

.info-row .value a {
  color: #0166CC;
  text-decoration: none;
}


.location-body.show {
  max-height: 500px;
}

/* MAP */
.map img {
  top: 0;
  width: 100%;
  height: auto;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .location-map {
    grid-template-columns: 1fr;
  }
}
