<app-hero-section
  title="Check Rediscounting"
  subtitle="Convert issued or post-dated checks into immediate working capital. This short-term facility turns receivables into liquid cash so you can fund urgent business needs without waiting for clearing."
  buttonText="Connect with our Loan Experts"
  buttonLink="/industries"
  image="assets/img/pages/Check Rediscounting/check rediscounting banner.jpg">
</app-hero-section>
<section class="loan-structure">
  <div class="container">

    <!-- HEADER -->
    <div class="section-header">
      <span class="section-line"></span>
      <h2>Check Rediscounting for SMEs: Get Funds<br>Before Checks Clear.</h2>
      <p>
        Because it’s backed by checks already issued to you, approval is faster<br> and more predictable than traditional financing.
      </p>
    </div>

    <!-- CARDS -->
    <div class="structure-grid">

      <!-- SECURED -->
      <div class="structure-card">
        <img
          src="assets/img/pages/Check Rediscounting/what is check rediscounting.jpg"
          alt="What Is Check Rediscounting for SMEs"
          loading="lazy"/>

        <h3>What Is Check Rediscounting for SMEs</h3>
        <p>Check Rediscounting allows businesses to advance cash from post-dated or deposited checks. It accelerates access to funds already expected, giving you quicker liquidity.</p>
      </div>

      <!-- UNSECURED -->
      <div class="structure-card">
        <img
          src="assets/img/pages/Check Rediscounting/how this helps with cashflow gaps.jpg"
          alt="How This Helps with Cashflow Gaps"
          loading="lazy"/>

        <h3>How This Helps with Cashflow Gaps</h3>
        <p>Bridge timing gaps between payouts and incoming collections. Use the advanced funds to cover payroll, purchase inventory, or manage unexpected operational needs.</p>
      </div>

      <div class="structure-card">
        <img
          src="assets/img/pages/Check Rediscounting/similarities with invoice.jpg"
          alt="Similarities with Invoice or PO Financing"
          loading="lazy"/>

        <h3>Similarities with Invoice or PO Financing</h3>
        <p>Like Invoice and PO Financing, Check Rediscounting converts expected payments into working capital. The difference? It’s based on issued checks, making it ideal when receivables are already formalized and dated.</p>
      </div>

    </div>

  </div>
</section>
<app-why-choose-check-rediscounting></app-why-choose-check-rediscounting>
<app-loan-simulator></app-loan-simulator>
<app-process-eligibility></app-process-eligibility>
<app-faq></app-faq>
<app-cta-banner></app-cta-banner>
<app-in-the-spotlight></app-in-the-spotlight>
