.cta-section {
  position: relative;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 100px 60px;
}

/* Overlay */
.cta-overlay {
  position: absolute;
  inset: 0;
  background:  linear-gradient(0deg, rgba(0, 34, 68, 0.75) 0%, rgba(0, 34, 68, 0.75) 100%);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
}

/* CONTENT */
.cta-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.cta-line {
  display: block;
  width: 22px;
  height: 2px;
  background: var(--White, #FFF);
  margin: 0 auto 12px;
}

.cta-content h2 {
  color: #FFF;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}

/* BUTTONS */
.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 32px 0px ;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.25s ease;
  color: var(--White, #FFF);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
}

.btn.primary {
  background: #0166cc;
  color: #fff;
}

.btn.primary:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: transparent;
  background: rgba(255, 255, 255, 0.15);
}

.btn.outline {
  border-radius: 4px;
  border: 1px solid var(--White, #FFF);
  color: #ffffff;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: transparent;
}

.btn.outline:hover {
  border: 1px solid #0166cc;
  color: #ffffff;
  background: #0166cc;
}

/* ICONS */
.cta-icons {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.icon-circle {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-circle:hover {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #0166cc;
  background-color: #0166cc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-circle img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* ===== TABLET ===== */
@media (max-width: 768px) {
  .cta-section {
    padding: 40px 0;
  }

  .cta-content h2 {
    font-size: 24px;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 576px) {
  .cta-section {
    padding: 70px 0;
  }

  .cta-content h2 {
    font-size: 22px;
  }

  .cta-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .btn {
    width: 100%;
    max-width: 280px;
  }
}
