.loan-wrapper {
  background: #cadffb;
}

.loan-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  padding-left: 60px;
  padding-right: 60px;
  grid-template-columns: 1fr;
  gap: 40px;
}


.loan-form-card {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
}

.loan-form-card h2 {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}


.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.form-group {
  margin-bottom: 14px;
}

label {
  font-size: 13px;
  display: block;
  margin-bottom: 6px;
}

input,
select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.radio-group {
  display: flex;
  gap: 16px;
}

.submit-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #0166cc;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.required {
  color: #d32f2f;
  margin-left: 2px;
}

.error {
  color: #d32f2f;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

input.invalid {
  border: 1px solid #d32f2f;
  background: #fff5f5;
}

.submit-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


/* ===== TABLET ===== */
@media (max-width: 992px) {
  .section-header h2 {
    font-size: 24px;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 576px) {
  .drive-support {
    padding: 50px 0;
  }

  .section-header h2 {
    font-size: 20px;
  }

  .subtitle {
    font-size: 13px;
    line-height: 1.6;
  }
}

@media (max-width: 768px) {
  .loan-container {
    grid-template-columns: 1fr;
  }

  .form-row {
    grid-template-columns: 1fr;
  }
}


