/* Wrapper */
.contact-wrapper {
  width: 100%;
  margin: auto;
  padding: 60px 50px;
}

/* Layout */
.contact-form-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: stretch;
}

/* Shared */
.section-badge {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #0d6efd;
  background: rgba(13, 110, 253, 0.1);
  padding: 4px 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

/* ================= CONTACT INFO ================= */
.contact-info {
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.04);
}

.contact-info h3 {
  font-size: 24px;
  margin-bottom: 12px;
  color: #222;
}

.info-text {
  font-size: 15px;
  color: #666;
  font-weight: 600;
  margin-bottom: 20px;
}

.info-block {
  margin-bottom: 14px;
}

.info-block strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.info-block span {
  font-size: 16px;
  color: #666;
}

.info-block span a{
  text-decoration: none;
}

/* Map */
.contact-info iframe {
  width: 100%;
  height: 260px;
  border: none;
  border-radius: 12px;
  margin-top: 20px;
}

/* ================= FORM ================= */
.contact-form {
  background: #f8f9fb;
  padding: 30px;
  border-radius: 16px;
}

.contact-form h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #222;
}

.hidden-field {
  display: none !important;
}

.error-text {
  color: #dc3545;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 12px;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.hidden-field {
  display: none !important;
}



/* Inputs */
.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 13px 14px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.12);
}

/* Rows */
.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

/* Button */
.contact-form button {
  margin-top: 10px;
  background: #0d6efd;
  color: #fff;
  border: none;
  padding: 14px;
  width: 100%;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.1s ease;
}

.contact-form button:hover {
  background: #084cdf;
  transform: translateY(-1px);
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .contact-form-section {
    grid-template-columns: 1fr;
  }

  .form-row {
    grid-template-columns: 1fr;
  }

  .contact-wrapper {
    padding: 40px 16px;
  }
}
