<app-hero-section
  title="Construction | Building"
  subtitle="Project timelines, payment delays, and material costs put pressure on cash flow. You need financing that keeps work moving without slowing you down."
  buttonText=""
  buttonLink="/apply"
  image="assets/img/pages/Industries/meeting-of-young-asian-business.jpg">
</app-hero-section>
<app-agriculture-sec1
  title="Financing that moves with your projects"
  subtitle="Construction companies manage tight timelines, delayed payments, and rising material costs.<br>
  We understand these realities and tailor financing that aligns with project milestones, so work continues smoothly from start to finish."

  card1Image="assets/img/pages/Industries/Agriculture/Our-Customers.png"
  card1Title="Our Customers"
  card1Description="We work with construction firms, contractors, and building material suppliers managing multiple projects and tight margins. Our focus is helping projects stay funded from start to finish."

  card2Image="assets/img/pages/Industries/Agriculture/Our-Solutions.png"
  card2Title="Our Solutions"
  card2Description="We provide fast, flexible financing solutions aligned with project cycles and growth plans, designed to solve cash flow gaps and support execution without delays across active projects."
>
</app-agriculture-sec1>

<app-agriculture-sec2></app-agriculture-sec2>

<app-loan-simulator></app-loan-simulator>
<app-process-eligibility></app-process-eligibility>
<app-faq></app-faq>
<app-cta-banner></app-cta-banner>