.loan-solutions {
  background: #ffffff;
  padding: 60px 0;
  padding-left: 50px;
  padding-right: 50px;

}

.container {
  width: 100%;
  margin: auto;
}

/* HEADER */
.section-header {
  text-align: center;
  max-width: 762px;
  margin: 0 auto 60px;
}

.section-line {
  width: 24px;
  height: 2px;
  background: var(--Primary-Blue, #0166CC);
  display: block;
  margin: 0 auto 12px;
}

.section-header h2 {
  color: #353333;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
}


/* GRID */
.solutions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px 16px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.solution-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);
}

/* CARD */
.solution-card {
  background: #fefefe;
  text-align: center;
}

.image-wrap {
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 18px;
}

.image-wrap img {
  align-self: stretch;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.solution-content{
  padding: 0 16px 16px;
}

.solution-content h3 {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.solution-content p {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 0.60);
  margin-bottom: 14px;
}

.learn-more {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--Primary-Blue, #0166CC);
  text-decoration: none;
}

.learn-more:hover {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--Primary-Blue, #062342);
  text-decoration: none;
}



/* ===== TABLET ===== */
@media (max-width: 992px) {
  .solutions-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-wrap img {
    align-self: stretch;
    height: 170px;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 576px) {
  .loan-solutions {
    padding: 50px 0;
  }

  .section-header h2 {
    font-size: 22px;
  }

  .solutions-grid {
    grid-template-columns: 1fr;
    gap: 28px;
  }

  .image-wrap img {
    height: 200px;
  }
}
