.loan-hero {
  background: #062342;
  color: #ffffff;
  overflow: hidden;
}

/* LAYOUT */
.hero-inner {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  align-items: stretch;
  min-height: 420px;
}

/* CONTENT */
.hero-content {
  padding: 20px 40px;
  display: flex;
  gap: 24px;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.hero-content h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero-content p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

/* BUTTON */
.hero-btn {
  display: inline-block;
  padding: 12px 16px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  width: fit-content;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.25s ease;
}

.hero-btn:hover {
  background: #ffffff;
  color: #0166CC;
}

/* IMAGE */
.hero-image {
  position: relative;
  overflow: hidden;

  /* Bottom-left diagonal cut */
  clip-path: polygon(
    0 0,          /* top-left */
    100% 0,       /* top-right */
    100% 100%,    /* bottom-right */
    84px 100%,    /* move right from bottom-left */
    0 calc(100% - 83px) /* move up from bottom-left */
  );
}


.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===== TABLET ===== */
@media (max-width: 992px) {
  .hero-content {
    padding: 60px 40px;
  }

  .hero-content h1 {
    font-size: 26px;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 576px) {
  .hero-inner {
    grid-template-columns: 1fr;
  }

  .hero-content {
    padding: 40px 20px;
    text-align: left;
  }

  .hero-content h1 {
    font-size: 22px;
  }

  .hero-image {
    clip-path: none;
    height: 240px;
  }
}
