<app-hero-section
  title="Pharmaceutical | Medical"
  subtitle="High-value inventory, strict compliance, and hospital demand require dependable financing. You need capital that supports scale without disruption."
  buttonText=""
  buttonLink="/apply"
  image="assets/img/pages/Industries/Pharmaceutical/banner.jpg">
</app-hero-section>
<app-agriculture-sec1
  title="Financing built for precision, compliance, and scale."
  subtitle="Pharmaceutical wholesalers operate in a high-stakes environment where reliability, compliance, and inventory value are critical. We understand the responsibility that comes with supplying healthcare providers and hospitals. That’s why we structure financing that supports scale and consistency, helping you meet demand without compromising operational stability."

  card1Image="assets/img/pages/Industries/Pharmaceutical/pharmaceutical-1.jpg"
  card1Title="Our Customers"
  card1Description="We serve pharmaceutical wholesalers supplying medical equipment and goods to major hospitals and healthcare providers. Reliability and speed are at the core of what we support."

  card2Image="assets/img/pages/Industries/Pharmaceutical/pharmaceutical-2.jpg"
  card2Title="Our Solutions"
  card2Description="We deliver structured financing solutions that support high-value inventory, equipment acquisition, and expansion, helping clients meet healthcare demand without compromising cash flow."
>
</app-agriculture-sec1>
<app-agriculture-sec2></app-agriculture-sec2>


<app-loan-simulator></app-loan-simulator>
<app-process-eligibility></app-process-eligibility>
<app-faq></app-faq>
<app-cta-banner></app-cta-banner>