/* ================= HERO SECTION ================= */
.hero {
  background: var(--Dark-Navy, #024);
  color: #fff;
  height: 439px;
}

/* Viewport for slider */
.hero-viewport {
  position: relative;
  overflow: hidden;
}

/* ================= SLIDER WRAPPER ================= */
.hero-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1),
              opacity 0.8s ease;
  will-change: transform, opacity;
}

.hero-wrapper.active {
  opacity: 1;
  transform: translateX(0);
  position: relative;
}

/* slide OUT to LEFT */
.hero-wrapper:not(.active) {
  transform: translateX(100%);
}


/* ================= LEFT CONTENT ================= */
.hero-content {
  padding: 0px 55px 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
}

.hero-content h1 {
  color: #FFF;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Manrope;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
  padding-bottom: 10px;
}

.hero-content p {
  color: #FFF;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
  padding-bottom: 5px;
}

/* CTA */
.hero-btn {
  margin-top: 15px;
  background: transparent;
  border: 1px solid var(--White, #FFF);
  color: #fff;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  cursor: pointer;
  transition: background 0.1s ease, color 0.1s ease;
}

.hero-btn:hover {
  background: #fff;
  color: #002244;
}

/* ================= DOTS ================= */
.hero-dots {
  display: flex;
  gap: 6px;
  padding-top: 50px;
}

.hero-dots span {
  width: 45px;
  height: 5px;
  background: rgba(255, 255, 255, 0.20);
  cursor: pointer;
  transition: background 0.3s ease;
}

.hero-dots span.active {
  background: #fff;
}

/* ================= RIGHT IMAGE ================= */
.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 100%;
  min-height: 439px;
}

/* ================= ANGLED CUT ================= */


/* IMAGE */
.hero-image{
  position: relative;
  overflow: hidden;

  /* Bottom-left diagonal cut */
  clip-path: polygon(
    0 0,          /* top-left */
    100% 0,       /* top-right */
    100% 100%,    /* bottom-right */
    84px 100%,    /* move right from bottom-left */
    0 calc(100% - 83px) /* move up from bottom-left */
  );
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .hero {
    height: auto;
  }

  .hero-wrapper {
    flex-direction: column;
    padding: 50px 0px 0px 0px;
    transform: translateX(40px);
  }

  .hero-content{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

  .hero-content h1 {
    font-size: 26px;
  }

  .hero-content p {
    font-size: 18px;
  }

  .hero-content button{
    margin-top: 15px;
    font-style: uppercase;
  }

  .hero-image img {
    max-width: 100%;
    min-height: 239px;
  }

  .hero-image {
    margin-top: 30px;
  }

  .hero::after {
    display: none;
  }
}

.hero-stats {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
  margin-bottom: 24px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 6px;
}

.stat strong {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.stat span {
  font-size: 16px;
  opacity: 0.9;
  color: #fff;
  white-space: nowrap;
}


