<section class="hero">
  <div class="container hero-viewport">

    <div class="hero-wrapper"
      *ngFor="let slide of slides; let i = index"
      [class.active]="i === activeIndex">
      <!-- LEFT -->
      <div class="hero-content">
        <h1>{{ slide.title }}</h1>
        <p>{{ slide.desc }}</p>
        <div class="hero-stats" *ngIf="slide.stats">
          <div class="stat" *ngFor="let stat of slide.stats">
            <strong>{{ stat.value }}</strong>
            <span>{{ stat.label }}</span>
          </div>
        </div>
        <div class="desclist" *ngIf="slide.desclist">
          <div class="stat" *ngFor="let stat of slide.desclist">
            <ul style="margin: 0px;">
              <li style="padding-bottom: 5px;">{{ stat.value }}</li>
            </ul>
          </div>
        </div>

        <button
          *ngIf="slide.btn?.trim()"
          class="hero-btn"
          [routerLink]="slide.btnLink"
        >
          {{ slide.btn }}
        </button>

        <!-- DOTS (BELOW BUTTON) -->
        <div class="hero-dots">
          <span
            *ngFor="let s of slides; let j = index"
            [class.active]="j === activeIndex"
            (click)="setSlide(j)"
          ></span>
        </div>
      </div>

      <!-- RIGHT -->
      <div class="hero-image">
        <img [src]="slide.image" alt="Banner" />
      </div>
    </div>

  </div>
</section>
