/* ===============================
   FOOTER – DESKTOP & TABLET CSS
   =============================== */

/* GRID */
.footer-grid {
  display: grid;
  grid-template-columns: 1.8fr 1.8fr 1.3fr 1.8fr 1.2fr 1fr;
}

/* COLUMNS */
.footer-col h3,
.footer-col h4 {
  font-weight: 700;
  margin-bottom: 14px;
}

.brand {
  font-size: 20px;
}

.footer-col h4 {
  font-size: 16px;
}

.desc {
  font-size: 16px;
  opacity: 0.85;
  margin-bottom: 16px;
}

/* LINKS */
.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-col a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer-col a:hover {
  color: #ffffff;
}

/* SOCIAL */
.follow-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.socials {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.socials img {
  width: 22px;
  height: 22px;
}

/* NEAREST OFFICE */
.nearest-office {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

/* TEXT */
.footer-col p {
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.85;
}

/* FOOTER BOTTOM */
.footer-bottom {
  width: 100%;
  background: #062342;
  padding: 16px 0;
  border-top: rgb(212, 202, 202) 1px solid;
}

.footer-bottom .container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-logo img {
  max-width: 140px;
  width: 100%;
  height: auto;
}

.footer-bottom p {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  color: #cbd5e1;
  text-align: center;
}

/* Company link */
.footer-bottom a {
  color: rgba(255, 255, 255, 0.80);
  font-weight: 600;
  text-decoration: none;
}

.footer-bottom a:hover {
  opacity: 0.9;
}

/* TABLET ONLY */
@media (max-width: 992px) {
  .footer-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* SITE FOOTER */
.site-footer {
  position: relative;
}

/* BACK TO TOP – DESKTOP & TABLET */
.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #0166cc;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.back-to-top:hover {
  background: #014ea2;
}
