<app-hero-section
  title="Technology"
  subtitle="Technology companies deal with fast innovation cycles, high R&D spends, and scaling infrastructure that hit cash runway hard. You need funding that moves at your speed to fuel product launches and growth without missing beats."
  buttonText=""
  buttonLink="/apply"
  image="assets/img/pages/Industries/Technology/Technology - banner photo.jpg">
</app-hero-section>

<app-agriculture-sec1
  title="Financing structured around innovation cycles and growth."
  subtitle="Technology companies grow on speed, innovation, and resilience. We understand the pressure of rapid product cycles, high R&D burn, and scaling infrastructure, and we structure financing that supports aggressive growth while protecting your long-term runway and stability."

  card1Image="assets/img/pages/Industries/Technology/our customers.jpg"
  card1Title="Our Customers"
  card1Description="We collaborate with SaaS providers, software developers, IT consultancies, and tech innovators managing R&D pipelines, infrastructure scaling, and talent acquisition. <br>Our focus: optimize liquidity to drive innovation and sustainable scaling"

  card2Image="assets/img/pages/Industries/Technology/Our Solutions.jpg"
  card2Title="Our Solutions"
  card2Description="We provide customied financing solutions to technology firms including app developers, cybersecurity experts, cloud service operators, and digital platforms navigating volatile revenues and capex demands. Our priority: ensure capital efficiency for breakthroughs and expansion."
>
</app-agriculture-sec1>
<app-agriculture-sec2></app-agriculture-sec2>


<app-loan-simulator></app-loan-simulator>
<app-process-eligibility></app-process-eligibility>
<app-faq></app-faq>
<app-cta-banner></app-cta-banner>