<app-hero-section
  title="Business Loans - Secured & Unsecured"
  subtitle="Beyond lending, we evaluate your operations to determine what fits: secured loans that offer stronger terms,  or unsecured loans that provide quick access to working capital without dependency on collateral."
  buttonText="Connect with our Loan Experts"
  buttonLink="/industries"
  image="assets/img/pages/Business Loans/Business Loans - Top Banner.jpg">
</app-hero-section>
<app-loan-structure></app-loan-structure>
<app-compare-options></app-compare-options>
<app-loan-simulator></app-loan-simulator>
<app-process-eligibility></app-process-eligibility>
<app-faq></app-faq>
<app-cta-banner></app-cta-banner>
<app-in-the-spotlight></app-in-the-spotlight>
