<app-hero-section
  title="Agriculture"
  subtitle="Seasonal cycles, weather risks, and rising input costs put constant pressure on agricultural businesses. You need financing that adapts to your operations, so you can modernize, and grow with confidence."
  buttonText=""
  buttonLink="/apply"
  image="assets/img/pages/Industries/Agriculture/agriculture.png">
</app-hero-section>
<app-agriculture-sec1></app-agriculture-sec1>
<app-agriculture-sec2></app-agriculture-sec2>

<app-loan-simulator></app-loan-simulator>
<app-process-eligibility></app-process-eligibility>
<app-faq></app-faq>
<app-cta-banner></app-cta-banner>