<div class="news-wrapper">

  <div class="news-row" *ngFor="let category of categories">

    <!-- LEFT TITLE -->
    <div class="news-title">
      {{category}}
    </div>

    <!-- RIGHT CARDS -->
    <div class="news-content">

      <div class="cards-wrapper">

        <div class="news-card"
             *ngFor="let item of getVisibleItems(category)">

          <img [src]="item.image">
          <h4>{{item.title}}</h4>

        </div>

      </div>

      <!-- ARROW -->
      <button class="arrow-btn" (click)="nextBatch(category)">
        ❯
      </button>

    </div>

  </div>

</div>