<app-home-hero-section></app-home-hero-section>
<app-loan-solutions></app-loan-solutions>
<app-our-impact></app-our-impact>
<app-loan-simulator></app-loan-simulator>

<app-process-eligibility></app-process-eligibility>
<app-faq></app-faq>
<app-cta-banner
  title="Choose your loan application method."
  primaryText="Connect With Our Loan Experts"
  secondaryText="Apply Online"
  primaryLink="/contact"
  secondaryLink="/apply"
  backgroundImage="assets/img/banner/cta-banner.jpg"
></app-cta-banner>
<app-in-the-spotlight></app-in-the-spotlight>
<app-our-partners></app-our-partners>

