/* ===== SECTION ===== */
.difference {
  padding: 50px 0;
  background: #F8F9FB;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
}

/* ===== HEADER ===== */
.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-tag {
  display: inline-block;
  color: #0d6efd;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 10px;
  position: relative;
}

.section-tag::before {
  content: '';
  width: 18px;
  height: 2px;
  background: #0d6efd;
  display: block;
  margin: 0 auto 8px;
}

.section-header h2 {
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #353333;
  max-width: 720px;
  margin: auto;
}


/* ===== CARDS ===== */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.card {
  background: #f4fbfb;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/* Icon */

.icon img {
  width: 60px;
  height: 60px;
}

/* Text */
.card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
}

.card p {
  font-size: 12px;
  text-align: center;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.60);
  margin-bottom: 10px;
}

/* Link */
.card a {
  font-size: 14px;
  font-weight: 500;
  color: #0d6efd;
  text-decoration: none;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .section-header h2 {
    font-size: 26px;
  }
}
