<section class="difference">
  <div class="container">

    <!-- Section Heading -->
    <div class="section-header">
      <span class="section-tag">THE JK CAPITAL DIFFERENCE</span>
      <h2>
        We customize funding solutions to help small
        to medium businesses thrive.
      </h2>
    </div>

    <!-- Cards -->
    <div class="cards">

      <div class="card" style="background-image: url('assets/img/Group-Unsecured-Loans.png');">
        <div class="icon">
          <img src="assets/img/icons/unsecured-loan.svg" alt="Unsecured Loans">
        </div>
        <h3>Unsecured Loans</h3>
        <p>
          Norem ipsum dolor sit amet, consectetur adipiscing elit.
          Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
        </p>
        <a href="#">Learn More →</a>
      </div>

      <div class="card" style="background-image: url('assets/img/Group-Secured-Loans.png');">
        <div class="icon">
          <img src="assets/img/icons/secured-loan.svg" alt="Secured Loans">
        </div>
        <h3>Secured Loans</h3>
        <p>
          Norem ipsum dolor sit amet, consectetur adipiscing elit.
          Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
        </p>
        <a href="#">Learn More →</a>
      </div>

      <div class="card" style="background-image: url('assets/img/Group-Credit-Line.png');">
        <div class="icon">
          <img src="assets/img/icons/credit-line.svg" alt="Credit Line">
        </div>
        <h3>Credit Line</h3>
        <p>
          Norem ipsum dolor sit amet, consectetur adipiscing elit.
          Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
        </p>
        <a href="#">Learn More →</a>
      </div>

      <div class="card" style="background-image: url('assets/img/Group-Bridge-Financing.png');">
        <div class="icon">
          <img src="assets/img/icons/bridge-finance.svg" alt="Bridge Financing">
        </div>
        <h3>Bridge Financing</h3>
        <p>
          Norem ipsum dolor sit amet, consectetur adipiscing elit.
          Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
        </p>
        <a href="#">Learn More →</a>
      </div>

    </div>
  </div>
</section>
