.pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 32px 0;

  button {
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    background: #005cff;
    color: #fff;
  }
}
