/* Carousel */
.partners-carousel {
  overflow: hidden;
  position: relative;
}

.partners-track {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Card */
.partner-card {
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}
.partner-card img {
  max-width: 280px;
  object-fit: contain;
  padding: 10px;
}
.partner-card:hover {
  transform: scale(1.05);
}

/* ALL MOBILES */
@media (max-width: 767px) {
  .partners-carousel {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }

  .partners-carousel::-webkit-scrollbar {
    display: none;
  }

  .partners-track {
    display: flex;
    gap: 14px;
  }

  .partner-card {
    flex: 0 0 50%;
    max-width: 50%;
    height: 80px;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .partner-card img {
    max-width: 120px;
    object-fit: contain;
    padding: 10px;
  }
}

