<app-hero-section
  title="Manufacturing | Production"
  subtitle="Rising costs, production demands, and expansion plans require dependable capital. You need financing that supports output without disrupting operations."
  buttonText=""
  buttonLink="/apply"
  image="assets/img/pages/Industries/Manufacturing/banner.jpg">
</app-hero-section>
<app-agriculture-sec1
  title="Structured financing designed around how you produce"
  subtitle="Manufacturers balance production demands, cost control, and reinvestment. We take time to understand how your operations run, then tailor financing that supports efficiency, output, and growth without disrupting daily operations."

  card1Image="assets/img/pages/Industries/Manufacturing/manufacturing-1.jpg"
  card1Title="Our Customers"
  card1Description="We work with manufacturers focused on efficiency, scale, and production consistency. Our focus is helping businesses manage working capital, equipment investment, and operational demands as they grow."

  card2Image="assets/img/pages/Industries/Manufacturing/manufacturing-2.jpg"
  card2Title="Our Solutions"
  card2Description="We deliver tailored financing solutions designed to support production flow, equipment upgrades, and expansion plans, helping manufacturers maintain momentum without disrupting day-to-day operations."
>
</app-agriculture-sec1>
<app-agriculture-sec2></app-agriculture-sec2>


<app-loan-simulator></app-loan-simulator>
<app-process-eligibility></app-process-eligibility>
<app-faq></app-faq>
<app-cta-banner></app-cta-banner>