<app-hero-section
  title="Manufacturing | Production"
  subtitle="Rising costs, production demands, and expansion plans require dependable capital. You need financing that supports output without disrupting operations."
  buttonText=""
  buttonLink="/apply"
  image="assets/img/pages/Industries/meeting-of-young-asian-business.jpg">
</app-hero-section>



<app-loan-simulator></app-loan-simulator>
<app-process-eligibility></app-process-eligibility>
<app-faq></app-faq>
<app-cta-banner></app-cta-banner>