/* ===============================
  GLOBAL RESET
================================ */
@import "normalize.css";

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ===============================
  COLOR VARIABLES
================================ */
:root {
  --primary: #0166CC;
  --primary-dark: #002244;
  --secondary: #6c757d;
  --success: #198754;
  --danger: #dc3545;
  --warning: #ffc107;

  --primary-blue: #0166CC;
  --hover-blue: #004ba0;
  --text-dark: #1A1A1A;
  --text-muted: #666666;
  --card-bg: #ffffff;

  --brand-blue: #0166CC;
  --text-blue: #0166CC;
  --bg-light-blue: #f4f9ff;

  --text-dark: #000000;
  --text-light: #D6D6D6;
  --border-color: #e5e7eb;

  --bg-light: #eff5ff;
  --white: #ffffff;
}

/* ===============================
  BODY BASE STYLE
================================ */
body {
  background-color: var(--bg-light);
  font-family: 'Manrope', sans-serif;
  color: var(--text-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

/* ===============================
  TYPOGRAPHY
================================ */
/* h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 12px;
  color: var(--text-dark);
} */

/* h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; } */

/* p {
  margin-bottom: 16px;
  color: var(--text-light);
  font-size: 15px;
} */

/* Links */
/* a {
  color: var(--primary);
  text-decoration: none;
} */

/* a:hover {
  color: var(--primary-dark);
} */

/* Lists */
/* ul, ol {
  padding-left: 20px;
  margin-bottom: 16px;
} */

/* ===============================
  PAGE WRAPPER
================================ */
.page-wrapper {
  max-width: 1320px;
  margin: auto;
  background: var(--white);
  min-height: 100vh;
}

/* ===============================
  LAYOUT
================================ */
.section {
  width: 100%;
  padding: 60px 60px;
}

.container {
  max-width: 1320px;
  margin: 0px;
}

/* Header */
.section-header {
  text-align: center;
  margin-bottom: 48px;
}

.section-line {
  width: 22px;
  height: 2px;
  background: var(--Primary-Blue, #0166CC);
  display: block;
  margin: 0 auto 12px;
}

.section-header h2 {
  color: #353333;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}

section-header p {
  width: 722px;
  color: #645F5F;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 156.25% */
}
.section-header h4 {
  color: var(--Primary-Blue, #0166CC);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 6px;
}


/* ===============================
  COMP. STYLES
================================ */

.partners-section {
  background: #F6F6F6;
}

/* ===============================
  FLEX UTILITIES
================================ */
.flex { display: flex; }
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

/* ===============================
  GRID UTILITIES
================================ */
.grid {
  display: grid;
  gap: 20px;
}

.grid-3 { grid-template-columns: repeat(3, 1fr); }
.grid-4 { grid-template-columns: repeat(4, 1fr); }

/* ===============================
  BUTTON
================================ */
.btn {
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.btn-primary {
  background: var(--primary);
  color: #fff;
}

.btn-primary:hover {
  background: var(--primary-dark);
}

/* ===============================
  TEXT UTILITIES
================================ */
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-muted { color: var(--text-light); }
.text-bold { font-weight: 600; }

.text-small { font-size: 13px; }
.text-large { font-size: 18px; }

/* ===============================
  IMAGES
================================ */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ===============================
  SPACING UTILITIES
================================ */
.mt-20 { margin-top: 20px; }
.mb-20 { margin-bottom: 20px; }
.pt-20 { padding-top: 20px; }
.pb-20 { padding-bottom: 20px; }


/* ===============================
  TOP & MAIN HEADER
================================ */

.fa-solid{
  font-size: 14px;
  font-weight: 600;
}

/* ================= TOP HEADER ================= */
.top-header {
  background: var(--primary-dark);
  padding: 12px 60px;
  color: var(--white);
}

.top-header-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-box {
  position: relative;
  width: 100%;
  max-width: 216px;
}

.search-icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #ffffff;
  opacity: 0.6;
}

.search-input {
  width: 100%;
  padding: 8px 12px 8px 45px;
  background: rgba(255, 255, 255, 0.20);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
  outline: none;
  height: 34px;
}

.search-input:focus {
  outline: none;
  background: rgba(255,255,255,0.30);
}

.search-input::placeholder {
  color: #dbe7ff;
  font-size: 14px;
}

.top-links a {
  color: var(--White, #FFF);
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
  text-decoration: none;
}

.top-links a:hover {
  color: var(--primary);
}

/* ================= MAIN HEADER ================= */
.main-header {
  background: var(--Soft-white, #F8F9FB);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 60px;
  height: 70px;
  box-shadow: 0 12px 24px 0 rgba(9, 7, 37, 0.07);
}

.logo img {
  height: 40px;
}

/* ================= DESKTOP NAV ================= */
.desktop-nav ul {
  margin: 0px;
  display: flex;
  list-style: none;
  gap: 32px;
}

.nav-item {
  position: relative;
  cursor: pointer;
  color: var(--Black, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.nav-item.active::after,
.nav-item:hover::after {
  content: '';
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 100%;
  height: 6px;
  font-size: 14px;
  background: var(--Dark-Navy, #024);
}

/* ================= DROPDOWN ================= */
.dropdown {
  position: absolute;
  top: 60px;
  left: 0;
  background: #fff;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  list-style: none;
  min-width: 200px;
}

.dropdown li {
  padding: 10px 16px;
}

.dropdown a {
  color: #333;
  text-decoration: none;
}

/* ================= MEGA MENU ================= */
.has-mega {
  position: static;
}

.has-mega.active::after,
.has-mega:hover::after {
  content: '';
  position: absolute;
  bottom: -2.5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #002244;
}

.mega-dropdown.full-width {
  position: absolute;
  top: 73px;
  left: 0;
  width: 100%;
  background-size: cover;
  background-color: var(--white);
  background-position: center;
  box-shadow: 0 10px 40px rgba(0,0,0,0.15);
}

.mega-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 260px 250px 300px;
}

/* Mega sections */
.mega-left {
  color: #fff;
  padding: 30px;
}

.mega-center {
  padding: 30px 20px;
}

.mega-center a {
  color: #0b5ed7;
  padding-left: 50px;
  font-weight: 500;
  text-decoration: none;
}

.mega-center a:hover {
  color: #052b4f;
}

/* ================= CTA ================= */
.apply-btn {
  background: var(--Primary, #0166CC);
  color: var(--White, #FFF);
  padding: 12px 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.apply-btn:hover {
  background: var(--primary-dark, #052b4f);
}

/* Hide mobile items */
.hamburger,
.mobile-menu {
  display: none;
}




/* ===============================
  RESPONSIVE
================================ */


@media (max-width: 768px) {
  .section {
    width: 100%;
    padding: 40px 20px;
  }

  .container {
    max-width: 100%;
    margin: 0px;
  }

  /* Header */
  .section-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .section-line {
    width: 22px;
    height: 2px;
    background: var(--Primary-Blue, #0166CC);
    display: block;
    margin: 0 auto 6px;
  }

  .section-header h2 {
    color: #353333;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Manrope;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
  }

}





/* ========== Footer =================== */

.site-footer {
  background: #062342;
  color: #ffffff;
}