.faq-section {
  background: #f4f8ff;
}

.fa-search{
  color: #fff;
}

/* SEARCH */
.search-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: auto;
  background: #e9eef3;
  border-radius: 10px;
  overflow: hidden;
  height: 48px;
}

/* LEFT ICON INSIDE INPUT */
.search-left-icon {
  position: absolute;
  left: 22px;
  font-size: 16px;
  color: #cfcdcd;
  pointer-events: none; /* important */
}

/* INPUT */
.search-box input {
  flex: 1;
  height: 64px;
  padding: 0 16px 0 50px; /* SPACE FOR ICON */
  border: none;
  background: transparent;
  outline: none;
  color: rgba(0, 0, 0, 0.80);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}

.search-box input::placeholder {
  color: #666;
}

/* RIGHT BUTTON */
.search-box button {
  padding: 12px 16px;
  height: 64px;
  background: #0166cc;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-box button i {
  color: #fff;
  font-size: 16px;
}

.search-box button:hover {
  background: #014fa3;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .search-box button {
    width: 70px;
  }

  .search-box input {
    font-size: 18px;
  }
}


/* TABS */
.faq-tabs {
  display: flex;
  gap: 18px;
  margin: 32px 0 32px;
  border-bottom: 1px solid #ddd;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.faq-tabs button {
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.60);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 7px;
}

.faq-tabs button.active {
  color: var(--Black, #000);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: 4px solid var(--Dark-Navy, #024);
}

/* Scrollbar for Chrome / Edge / Safari */
.faq-tabs::-webkit-scrollbar {
  height: 0.5px;
}

.faq-tabs::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.faq-tabs::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.faq-tabs::-webkit-scrollbar-thumb:hover {
  background: #999;
}


/* FAQ CARD */
.faq-item {
  border: 1px solid #B0B0B0;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}


/* QUESTION */
.faq-question {
  width: 100%;
  padding: 15px;
  background: none;
  border: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  color: #1D1A1A;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  font-style: normal;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

/* ANSWER (Animated) */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding-top: 50px;
  padding: 0 18px;
  font-size: 18px;
  line-height: 1.5;
  color: #555;
  transition: all 0.35s ease;
}

.faq-answer p {
  margin: 0px;
}

.faq-answer.show {
  max-height: 900px;
  padding: 16px;
}

.faq-answer ul {
  list-style: none;
  padding-left: 0;
  margin: 0px;
}

.faq-answer li {
  padding-bottom: 6px;
}

/* NO RESULT */
.no-result {
  text-align: center;
  color: #0166CC;
  margin-top: 22px;
  font-weight: 600;
}

/* ACTIVE FAQ BACKGROUND */
.faq-item.active {
  border-color: #0166CC;
}

/* ACTIVE QUESTION HEADER */
.faq-item.active .faq-question {
  background: #0166CC;
  color: #fff;
  border-radius: 4px 4px 0 0;
}

/* ACTIVE ARROW COLOR */
.faq-item.active .arrow svg path {
  fill: #fff;
}

.faq-more {
  text-align: right;
  margin-top: 32px;
}

.learn-more-btn {
  background-color: #0166CC;
  color: #ffffff;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

/* hover effect */
.learn-more-btn:hover {
  background-color: #014ea2;
}


/* MOBILE */
@media (max-width: 768px) {
  .faq-tabs {
    -webkit-overflow-scrolling: touch;
  }

  .section-header h2 {
    font-size: 22px;
  }

  .faq-question {
    font-size: 18px;
  }
}
