<section class="faq-section">
  <div class="container">

    <!-- HEADER -->
    <div class="faq-header">
      <div class="section-header">
        <span class="section-line"></span>
        <h2>Frequently Asked Questions</h2>
      </div>

      <!-- SEARCH -->
      <div class="search-box">
        <i class="fa-solid fa-search search-left-icon"></i>

        <input
          type="text"
          placeholder="Search Your Keyword.."
          [(ngModel)]="searchText"
          aria-label="Search"
        />

        <button aria-label="Search">
          <i class="fa-solid fa-search"></i>
        </button>
      </div>

    </div>

    <!-- TABS -->
    <div class="faq-tabs">
      <button
        *ngFor="let tab of tabs"
        (click)="setActiveTab(tab)"
        [class.active]="activeTab === tab"
      >
        {{ tab }}
      </button>
    </div>

    <!-- FAQ LIST -->
    <div class="faq-list">

      <div
        class="faq-item"
        *ngFor="let item of filteredFaqs"
        [class.active]="item.open"
      >

        <!-- QUESTION -->
        <button
          class="faq-question"
          (click)="toggle(item)"
          [attr.aria-expanded]="item.open"
        >
          {{ item.question }}
          <span class="arrow" [class.open]="item.open"><i class="fa-solid fa-chevron-down"></i></span>
        </button>

        <!-- ANSWER -->
        <div class="faq-answer" [class.show]="item.open">

          <ul *ngIf="isArray(item.answer)">
            <li *ngFor="let ans of item.answer">
              <strong *ngIf="ans.endsWith(':')">{{ ans }}</strong>
              <span *ngIf="!ans.endsWith(':')">{{ ans }}</span>
            </li>
          </ul>

          <p *ngIf="isString(item.answer)">
            {{ item.answer }}
          </p>

        </div>
      </div>

      <!-- NO RESULT -->
      <p *ngIf="filteredFaqs.length === 0" class="no-result">
        No results found.
      </p>

    </div>

    <!-- LEARN MORE / SHOW LESS -->
    <div class="faq-more" *ngIf="hasMoreFaqs">
      <button
        type="button"
        class="learn-more-btn"
        (click)="showAll = !showAll">
        <span>{{ showAll ? 'Show Less' : 'Learn More' }} <i class="fa-solid fa-angle-double-right"></i></span>
      </button>
    </div>

  </div>
</section>
