<section class="section faq-section">
  <div class="container">

    <!-- HEADER -->
    <div class="faq-header">
      <div class="section-header">
        <span class="section-line"></span>
        <h2>Frequently Asked Questions</h2>
      </div>

      <!-- SEARCH -->
<div class="search-box">

  <i class="fa-solid fa-search search-left-icon"></i>

  <input
    type="text"
    placeholder="Search Your Keyword..."
    [(ngModel)]="searchText"
    (keyup.enter)="onSearch()"
    (ngModelChange)="searchText === '' && resetToDefault()"
  />

<button
  class="search-action-btn"
  (click)="submittedSearchText ? resetToDefault() : onSearch()"
  [disabled]="!searchText.trim() && !submittedSearchText"
>
  <i *ngIf="!submittedSearchText" class="fa-solid fa-search"></i>
  <i *ngIf="submittedSearchText" class="fa-solid fa-xmark"></i>
</button>

</div>

    </div>

    <!-- TABS -->
    <div class="faq-tabs">
      <button
        *ngFor="let tab of tabs"
        (click)="setActiveTab(tab)"
        [class.active]="activeTab === tab"
      >
        {{ tab }}
      </button>
    </div>

    <!-- FAQ LIST -->
    <div class="faq-list">

      <div
        class="faq-item"
        *ngFor="let item of filteredFaqs"
        [class.active]="item.open"
      >

        <!-- QUESTION -->
        <button
          class="faq-question"
          (click)="toggle(item)"
          [attr.aria-expanded]="item.open"
        >
          {{ item.question }}
          <span class="arrow" [class.open]="item.open">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <mask id="mask0_404_1475" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect x="1.04907e-06" y="24" width="24" height="24" transform="rotate(-90 1.04907e-06 24)" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_404_1475)">
                <path d="M14.7079 12.0008L9.40013 17.3086L8.69238 16.6008L13.2924 12.0008L8.69238 7.40084L9.40013 6.69309L14.7079 12.0008Z" fill="#1C1B1F"/>
              </g>
            </svg>
          </span>
        </button>

        <!-- ANSWER -->
        <div class="faq-answer" [class.show]="item.open">

          <ul *ngIf="isArray(item.answer)">
            <li *ngFor="let ans of item.answer"
                [ngClass]="{
                  'dash-line': ans.trim().startsWith('-'),
                  'normal-line': !ans.trim().startsWith('-')
                }">
              <strong *ngIf="ans.endsWith(':')">
                {{ ans }}
              </strong>
              <span *ngIf="!ans.endsWith(':')">
                {{ ans }}
              </span>
            </li>
          </ul>

          <p *ngIf="isString(item.answer)">
            {{ item.answer }}
          </p>

        </div>
      </div>

      <!-- NO RESULT -->
      <p *ngIf="searchText && filteredFaqs.length === 0" class="no-result">
        No results found.
      </p>

    </div>

    <!-- LEARN MORE / SHOW LESS -->
    <div class="faq-more" *ngIf="hasMoreFaqs">
      <button
        type="button"
        class="learn-more-btn"
        (click)="showAll = !showAll">
        <span>{{ showAll ? 'Show Less' : 'Learn More' }} <i class="fa-solid fa-angle-double-right"></i></span>
      </button>
    </div>

  </div>
</section>
